.address {
  padding-top: 26px;
  background-color: $optional__background-color;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 0;
  }
}

.address--index {
  background-color: initial;
}

.address__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    z-index: 1;
    background-color: $special__fonts-color;
    padding: 60px 74px 60px 80px;
  }
}

.address__title {
  @include fonts(16px, 20px, $special-dark__fonts-color);
  text-transform: uppercase;
  margin: 0 17px 0 0;

  @media (min-width: $tablet-width) {
    @include fonts(20px, 26px, $special-dark__fonts-color);
    max-width: 170px;
  }
}

.address__description {
  @include fonts(14px, 20px, $secondary__fonts-color);
  min-width: 140px;
  font-style: normal;
  font-family: "Lato", sans-serif;

  @media (min-width: $tablet-width) {
    @include fonts(16px, 20px, $secondary__fonts-color);
    text-align: end;
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 65px;
    text-align: start;
  }
}

.address__map {
  height: 362px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.address__map-image {
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
}

.address__iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
