.order {
  padding: 40px 0;
  color: $white;
  background: image-set(url("../img/index/map@1x.webp") type("image/webp") 1x,
    url("../img/index/map@2x.webp") type("image/webp") 2x,
    url("../img/index/map@1x.jpg") 1x,
    url("../img/index/map@2x.jpg") 2x), $dark-color;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 120px 0 150px;
  }
}

.order__title {
  margin: 0 0 30px;
  font-size: var(--h2);
  text-transform: uppercase;
  font-weight: 800;
}

.order__description {
  margin: 0 0 25px 0;
  color: $gray__fonts-color;
  font-size: var(--h3);

  @media (min-width: $tablet-width) {
    margin: 0 0 60px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 80px 0;
  }
}

.order__list {
  display: grid;
  gap: 40px 20px;
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;

  @media (min-width: $tablet-width) {
    margin: 0 0 60px 0;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 80px 0;
  }
}

.order__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0;

  &:first-child {
    .order__item-circle-wrapper::after {
      content: initial;
    }
  }

  &:nth-child(3n + 1) {
    .order__item-circle-wrapper::after {
      content: initial;
    }
  }

  @media (min-width: $tablet-width) {
    &:nth-child(3n + 1) {
      .order__item-circle-wrapper::after {
        content: '';
      }
    }

    &:nth-child(5n + 1) {
      .order__item-circle-wrapper::after {
        content: initial;
      }
    }
  }
}

.order__item-circle-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  &::after {
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    right: calc(50% + 15px);
    top: 50%;
    transform: translateY(-50%);
    background-image:  url("../img/icons/stack.svg#points");
    z-index: 1;
  }
}

.order__item-circle {
  position: relative;
  background-color: $blue;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 5px solid $dark-blue;
  background-image:  url("../img/icons/stack.svg#search");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;

  &--percent {
    background-image:  url("../img/icons/stack.svg#percent");
  }

  &--file {
    background-image:  url("../img/icons/stack.svg#file");
  }

  &--message {
    background-image:  url("../img/icons/stack.svg#message");
  }

  &--money {
    background-image:  url("../img/icons/stack.svg#money");
  }

  @media (min-width: $tablet-width) {
    width: 100px;
    height: 100px;
    background-size: 55px 55px;
  }

  @media (min-width: $desktop-width) {
  }
}

.order__item-description {
  margin: 0;
  font-size: var(--base-text);
}
