.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: grid;
  margin: 0 auto;
  line-height: 1;
  font-size: var(--base-text);
  grid-template-rows: 1fr min-content;
  font-family: "Lato", "Arial", sans-serif;

  &--no-js {
    grid-template-rows: min-content 1fr min-content;
    overflow: auto;
  }
}
