$white: #ffffff;
$black: #000000;
$blue: #3e9cdc;
$dark-blue: #286690;

$primary__fonts-color: #000000;
$secondary__fonts-color: #ffffff;
$gray__fonts-color: #bbbbbb;

$dark-color: #272733;
$other-dark-color: #2a2b30;
$footer-color: #3d4050;
$footer-decoration-color: #c3c3c3;
$special__color: #3e9cdc;
$link-hover: #43abf0;
$border-gray: #6f6d7b;
$error__fonts-color: #ff8282;

$header__background-color: rgba(16, 16, 29, 0.9);
$input__background-color: rgba(255, 255, 255, 0.85);


//viewports
$tablet-width: 768px;
$desktop-width: 1252px;
$mobile-width: 320px;
